
  .card
  {
    width:300px;
    height: 390px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom: 20px;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  }

  .image img
  {
    width:250px;
    padding-top:20px; 
  }
  .image{
    text-align:center;
  }
  .view-details{
    position:absolute;
    left:71px;
    top:85px;
    justify-content: center
  }
  .view-details button{
    text-align:center;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:28px;
    padding-right:28px;
    background-color:transparent;
    border:2px solid #ffffff;
    border-radius: 8px;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:800;
    display:none
  }
  .image:hover .view-details button{
    display:block;
  }
  .image:hover {
    background-color:#a797c499;  
  }
  .card:hover{
      box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.3607843137254902);
  }
  .mat{
    background-color:#ffffff;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:35px;
  }

  .mat h3{
    font-weight:500;
    font-size:18px
  }
  .mat p{
    font-size:12px;
    color:#b3aaaa;
    margin-top:-15px
  }
  .mat h4{
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
  }
  .price{
    padding-left:90px;
    font-weight:800;
    color:#766496;
  }

  .titulo
  {
    margin-bottom: 12px;
    color: #3A4966;
  }
  
  .color
  {
    color: #3A4966;
  }

     /*-----------------BOTON------------------------*/

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.dash-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 6 */
.btn-6 {
  background: #A797C4;
  border: none;
  z-index: 1;
}
.btn-6:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #766496;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-6:hover {
  color: #fff;
}
.btn-6:hover:after {
  left: 0;
  width: 100%;
}
.btn-6:active {
  top: 2px;
}